# Gemini API Configuration
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_VISION_MODEL=gemini-3-flash-preview #or any other model

# PostgreSQL Database Connection URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/image_matching_db
POSTGRES_DB=image_db
POSTGRES_USER=image_user
POSTGRES_PASSWORD=change_this_password